</head>
<body>
<nav class="breadcrumb">
  <i class="Hui-iconfont Hui-iconfont-root"></i> <a href="javascript:parent.layer.closeAll()"> {:lang('ADMIN_USER_INFO')}</a>
</nav>
<article class="page-container">
	<form action="{:url('User/userInfoPost')}" method="post" class="form form-horizontal js-ajax-form">
		<div class="row cl">
			<label class="form-label my-label col-xs-4 col-sm-2"><span class="c-red">*</span>{:lang("NICKNAME")}</label>
			<div class="formControls col-xs-8 col-sm-7">
				<input type="text" class="layui-input js-chs" value="{$row.user_nickname|default=''}" placeholder="nickname" name="nickname" maxlength="30" autocomplete="off">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label my-label col-xs-4 col-sm-2"><span class="c-red">*</span>{:lang("MOBILE")}</label>
			<div class="formControls col-xs-8 col-sm-7">
				<input type="text" class="layui-input js-mobile" value="{$row.user_mobile|default=''}" placeholder="mobile" name="mobile" maxlength="30" autocomplete="off">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label my-label col-xs-4 col-sm-2"><span class="c-red">*</span>{:lang("EMAIL")}</label>
			<div class="formControls col-xs-8 col-sm-7">
				<input type="text" class="layui-input js-email" value="{$row.user_email|default=''}" placeholder="email" name="email" maxlength="30" autocomplete="off">
			</div>
		</div>

		<div class="row cl">
		    <div class="col-xs-8 col-sm-6 col-xs-offset-4 col-sm-offset-2">
	        	<notempty name='row'><input type="hidden" name="id" value="{$row.id}"/></notempty>
	        	<button class="layui-btn js-ajax-submit" lay-submit lay-filter="formDemo">{:lang('ONSUBMIT')}</button>
	        	<button type="reset" class="layui-btn layui-btn-primary">{:lang('RESET')}</button>
		    </div>
    	</div>
	</form>
</article>